@model IEnumerable<EjercicioPractico.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {@class = "btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }, new { @class = "btn btn-secondary btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-warning btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new {@class = "btn btn-danger btn-sm"})
        </td>
    </tr>
}

</table>
